@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,800;1,400;1,700;1,800&family=Oswald:wght@700&family=Poppins:ital,wght@0,500;0,600;0,700;1,200;1,500&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Rubik+Moonrocks&family=Teko:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    font-size: 24;
    ;
    padding: 30px;
}

/* top players style */
.section-title {
    color: #562EFF;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    gap: 16px;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #d1d1d1;
    margin-top: 30px;
}

/* top blogs styles */
.blogs {
    display: flex;
}

.blogs .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;

}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}